- name: install i3
  pacman:
    name:
      - xorg
      - i3-wm
      - i3lock
      - i3status
      - dmenu
  become: yes

- name: create i3 configuration directory
  file:
    name: /home/{{ archlinux_username }}/.i3
    state: directory
    owner: {{ archlinux_username }}
    group: users
  become: yes

- name: template i3 configuration
  template:
    src: i3/config
    dest: /home/{{ archlinux_username }}/.i3/config
    owner: {{ archlinux_username }}
    group: users
  become: yes

- name: template i3status configuration
  template:
    src: i3/i3status
    dest: /home/{{ archlinux_username }}/.i3/i3status
    owner: {{ archlinux_username }}
    group: users
  become: yes
