---
- import_tasks: pacman.yml
- import_tasks: user.yml
- import_tasks: virtualization.yml
- import_tasks: git.yml
- import_tasks: c-family.yml
- import_tasks: java.yml
- import_tasks: python.yml
- import_tasks: ruby.yml
- import_tasks: golang.yml
- import_tasks: vim.yml
- import_tasks: i3.yml
- import_tasks: wallpaper.yml

- name: install utilities
  pacman:
    name:
      - alsa-utils
      - aria2
      - curl
      - htop
      - httpie
      - jq
      - nftables
      - nmap
      - ntp
      - openssh
      - openvpn
      - ripgrep
      - rsync
      - shellcheck
  become: yes

- name: enable network time
  service: name=ntpd state=started enabled=yes
  become: yes

- name: enable firewall
  service: name=nftables state=started enabled=yes
  become: yes

- name: install shell colorschemes
  git: repo=https://github.com/chriskempson/base16-shell.git dest=/home/{{ archlinux_username }}/.config/base16-shell
  become: yes
  become_user: "{{ archlinux_username }}"

- name: install fonts
  pacman:
    name:
      - adobe-source-code-pro-fonts
      - powerline-fonts
      - ttf-dejavu
      - ttf-droid
      - ttf-inconsolata
      - ttf-liberation
  become: yes

- name: install GUI
  pacman:
    name:
      - arandr
      - elementary-icon-theme
      - lightdm
      - lightdm-gtk-greeter
      - lxappearance
      - xcursor-simpleandsoft
  become: yes

- name: enable GUI on boot
  service: name=lightdm enabled=yes
  become: yes

- name: template .bashrc
  become: yes
  copy: src=bashrc dest=/home/{{ archlinux_username}}/.bashrc owner={{ archlinux_username }} group=users

- name: template Xresources
  copy: src=Xresources dest=/home/{{ archlinux_username }}/.Xresources owner={{ archlinux_username }} group=users
  become: yes

- name: install pulseaudio/alsa
  pacman:
    name:
      - alsa-utils
      - pavucontrol
      - pulseaudio
      - pulseaudio-alsa

- name: install applications
  pacman:
    name:
      - evince
      - firefox
      - gimp
      - mpv
      - pcmanfm
      - viewnior
      - xterm
  become: yes

- name: create AUR build directory
  file: name=/home/{{ archlinux_username }}/build state=directory owner={{ archlinux_username }} group=users
  become: yes

- name: create scripts directory
  file: name=/home/{{ archlinux_username }}/bin state=directory owner={{ archlinux_username }} group=users
  become: yes

- name: configure direnv
  copy: src=direnvrc dest=/home/{{ archlinux_username }}/.direnvrc owner={{ archlinux_username }} group=users
  become: yes
  become_user: "{{ archlinux_username }}"
