---
- name: install feh
  pacman:
    name: feh
  become: true

- name: configure wallpaper script
  template:
    src: fehbg
    dest: /home/{{ archlinux_username }}/.fehbg
    owner: "{{ archlinux_username }}"
    group: users
  become: true
  become_user: "{{ archlinux_username }}"

